<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.werewolf">

    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/wolfrole"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".activities.villagerWin"></activity>
        <activity android:name=".activities.werewolfWin" />
        <activity android:name=".activities.finishVote" />
        <activity android:name=".activities.gameVoting" />
        <activity android:name=".activities.gameDiscussion" />
        <activity android:name=".activities.killedPrompt" />
        <activity android:name=".activities.finishTurn" />
        <activity android:name=".activities.seerAction" />
        <activity android:name=".activities.playerTurn" />
        <activity android:name=".activities.playerPrompt" />
        <activity android:name=".activities.gameStart" />
        <activity android:name=".activities.deletePlayers" />
        <activity android:name=".activities.selectRoles" />
        <activity android:name=".activities.addPlayers" />
        <activity android:name=".activities.settingsPage" />
        <activity android:name=".activities.rolesPage" />
        <activity android:name=".activities.playersPage" />
        <activity android:name=".activities.mainmenu"/>
        <activity android:name=".activities.MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>